- dimension_metrics = DimensionMetric.all
- twitter_organic_dimension_metric = DimensionMetric.where("dimensions = ?", ['twitter', 'organic'].to_yaml)[0]
- facebook_organic_dimension_metric = DimensionMetric.where("dimensions = ?", ['facebook', 'organic'].to_yaml)[0]
- facebook_paid_dimension_metric = DimensionMetric.where("dimensions = ?", ['facebook', 'paid'].to_yaml)[0]
- twitter_organic_twitter_analytics_dimension_metric = DimensionMetric.where("dimensions = ?", ['twitter', 'organic', 'twitter_analytics'].to_yaml)[0]
%h1.ui.block.header
  Dashboard
.ui.top.attached.tabular.menu
  %a.active.item{ "data-tab" => 'rngagement' }
    %h3.ui.header
      Engagement
.ui.bottom.attached.active.tab.segment{ "data-tab" => 'engagement'}
  %table.ui.celled.padded.table
    %thead
      %tr
        %th
          Dimension
        %th
        %th
        %th
        %th
        %th
        %th
        %th
        %th
    %tbody
      %tr
        %td
          Twitter/Organic/Buffer Analytics
        %td
          .ui.mini.horizontal.statistic
            .value
              #{twitter_organic_dimension_metric.metrics['retweets']}
            .label
              Retweets
        %td
          .ui.mini.horizontal.statistic
            .value
              #{twitter_organic_dimension_metric.metrics['favorites']}
            .label
              Favorites
        %td
          .ui.mini.horizontal.statistic
            .value
              #{twitter_organic_dimension_metric.metrics['mentions']}
            .label
              Mentions
        %td
          .ui.mini.horizontal.statistic
            .value
              #{twitter_organic_dimension_metric.metrics['clicks']}
            .label
              Clicks
        %td
          .ui.mini.horizontal.statistic
            .value
              #{twitter_organic_dimension_metric.metrics['reach']}
            .label
              Reach
        %td
          .ui.mini.horizontal.statistic
            .value
              N/A
            .label
              Impressions
        %td
          .ui.mini.horizontal.statistic
            .value
              N/A
            .label
              User Profile Clicks
      %tr
        %td
          Twitter/Organic/Twitter Analytics
        %td
          .ui.mini.horizontal.statistic
            .value
              #{twitter_organic_twitter_analytics_dimension_metric.metrics['retweets']}
            .label
              Retweets
        %td
          .ui.mini.horizontal.statistic
            .value
              #{twitter_organic_twitter_analytics_dimension_metric.metrics['favorites']}
            .label
              Favorites
        %td
          .ui.mini.horizontal.statistic
            .value
              #{twitter_organic_twitter_analytics_dimension_metric.metrics['replies']}
            .label
              Replies
        %td
          .ui.mini.horizontal.statistic
            .value
              #{twitter_organic_twitter_analytics_dimension_metric.metrics['clicks']}
            .label
              Clicks
        %td
          .ui.mini.horizontal.statistic
            .value
              N/A
            .label
              Reach
        %td
          .ui.mini.horizontal.statistic
            .value
              #{twitter_organic_twitter_analytics_dimension_metric.metrics['impressions']}
            .label
              Impressions
        %td
          .ui.mini.horizontal.statistic
            .value
              #{twitter_organic_twitter_analytics_dimension_metric.metrics['user_profile_clicks']}
            .label
              User Profile Clicks
      %tr
        %td
          Facebook/Organic/Buffer Analytics
        %td
          .ui.mini.horizontal.statistic
            .value
              #{facebook_organic_dimension_metric.metrics['comments']}
            .label
              Comments
        %td
          .ui.mini.horizontal.statistic
            .value
              #{facebook_organic_dimension_metric.metrics['likes']}
            .label
              Likes
        %td
          .ui.mini.horizontal.statistic
            .value
              #{facebook_organic_dimension_metric.metrics['shares']}
            .label
              Shares
        %td
          .ui.mini.horizontal.statistic
            .value
              #{facebook_organic_dimension_metric.metrics['clicks']}
            .label
              Clicks
        %td
          .ui.mini.horizontal.statistic
            .value
              #{facebook_organic_dimension_metric.metrics['reach']}
            .label
              Reach
        %td
          .ui.mini.horizontal.statistic
            .value
              N/A
            .label
              Impressions
        %td
          .ui.mini.horizontal.statistic
            .value
              N/A
            .label
              User Profile Clicks
      %tr
        %td
          Facebook/Paid/Buffer Analytics
        %td
          .ui.mini.horizontal.statistic
            .value
              #{facebook_paid_dimension_metric.metrics['comments']}
            .label
              Comments
        %td
          .ui.mini.horizontal.statistic
            .value
              #{facebook_paid_dimension_metric.metrics['likes']}
            .label
              Likes
        %td
          .ui.mini.horizontal.statistic
            .value
              #{facebook_paid_dimension_metric.metrics['shares']}
            .label
              Shares
        %td
          .ui.mini.horizontal.statistic
            .value
              #{facebook_paid_dimension_metric.metrics['clicks']}
            .label
              Clicks
        %td
          .ui.mini.horizontal.statistic
            .value
              #{facebook_paid_dimension_metric.metrics['reach']}
            .label
              Reach
        %td
          .ui.mini.horizontal.statistic
            .value
              N/A
            .label
              Impressions
        %td
          .ui.mini.horizontal.statistic
            .value
              N/A
            .label
              User Profile Clicks
