%h1.ui.block.header
  Message Templates
.ui.top.attached.tabular.menu
  %a.active.item{ "data-tab" => 'twitter-message-templates' }
    %h3.ui.header
      %i.blue.twitter.square.icon
      .content
        Twitter
        %span.ui.black.label
          #{ @twitter_message_templates.count.to_s }
  %a.item{ "data-tab" => 'facebook-message-templates' }
    %h3.ui.header
      %i.blue.facebook.square.icon
      .content
        Facebook
        %span.ui.black.label
          #{ @facebook_message_templates.count.to_s }
  %a.item{ "data-tab" => 'google-message-templates' }
    %h3.ui.header
      %i.red.google.square.icon
      .content
        Google
        %span.ui.black.label
          #{ @google_message_templates.count.to_s }
  %a.item{ "data-tab" => 'youtube-search-results-message-templates' }
    %h3.ui.header
      %i.red.youtube.square.icon
      .content
        YouTube
        %span.ui.black.label
          #{ @youtube_search_results_message_templates.count.to_s }
.ui.bottom.attached.active.tab.segment{ "data-tab" => 'twitter-message-templates'}
  = render :partial => 'shared/message_templates', :locals => { :message_templates => @twitter_message_templates }
.ui.bottom.attached.tab.segment{ "data-tab" => 'facebook-message-templates'}
  = render :partial => 'shared/message_templates', :locals => { :message_templates => @facebook_message_templates }
.ui.bottom.attached.tab.segment{ "data-tab" => 'google-message-templates'}
  = render :partial => 'shared/message_templates', :locals => { :message_templates => @google_message_templates }
.ui.bottom.attached.tab.segment{ "data-tab" => 'youtube-search-results-message-templates'}
  = render :partial => 'shared/message_templates', :locals => { :message_templates => @youtube_search_results_message_templates }