%table.ui.celled.padded.table
  %thead
    %tr
      %th
        Database ID
      %th
        Content
      %th
        Length
      %th
        Image
      %th
        Message Type
      %th
        Clinical Trial
      %th
        Publishing Date
    - if ((platform == 'twitter' and medium == 'organic') or (platform == 'facebook' and medium == 'organic') or (platform == 'facebook' and medium == 'paid'))
      %tr
        %th{ :colspan => '7' }
          - if platform == 'twitter'
            %a.ui.twitter.button{:href => "/organic_messages/publish/?platform=#{platform}&medium=#{medium}" }
              %i.twitter.icon
              Publish #{medium.titlecase} #{platform.titlecase} Messages
          - if platform == 'facebook'
            %a.ui.facebook.button{:href => "/organic_messages/publish/?platform=#{platform}&medium=#{medium}" }
              %i.facebook.icon
              Publish #{medium.titlecase} #{platform.titlecase} Messages
  %tbody
    - messages.each do |message|
      - row_class = ""
      - if (!@pending_twitter_organic_messages.nil? and @pending_twitter_organic_messages.include?(message)) || (!@pending_facebook_organic_messages.nil? and @pending_facebook_organic_messages.include?(message))
        - row_class = "active"
      - if (!message.sent_to_buffer_at.blank?)
        - row_class = 'disabled'
      %tr{ :class => row_class }
        %td= message.id.to_s
        - if message.message_template.platform == 'google' || message.message_template.platform == 'youtube_search_results'
          %td
            %ul
              %li= message.content[0]
              %li= message.content[1]
              %li= message.content[2]
              %li= message.content[3]
        - else
          %td= message.content
        - if message.message_template.platform == 'google' || message.message_template.platform == 'youtube_search_results'
          %td
            %ul
              %li= message.content[0].length
              %li= message.content[1].length
              %li= message.content[2].length
              %li= message.content[3].length
        - else
          %td= message.content.length
        - if message.image_required
          %td.dropbox{ :id => "message-#{message.id}" }
            - if !message.thumbnail_url.blank?
              %img{ :src => "#{message.thumbnail_url}" }
            %a.choose-from-dropbox{:href => "#"}
              Choose
        - else
          %td None
        %td= message.message_template.message_type
        %td
          %a{ :href => message.clinical_trial.url, :target => "_blank"}
            View Trial
        %td
          %ul{:style => 'margin-left: -40px; list-style-type: none;'}
            - if !message.scheduled_at.nil?
              %li
                Scheduled: #{message.scheduled_at.strftime('%b %e')}
            - if !message.sent_to_buffer_at.nil?
              %li
                To Buffer: #{message.sent_to_buffer_at.strftime('%b %e')}
            - if !message.sent_from_buffer_at.nil?
              %li
                From Buffer: #{message.sent_from_buffer_at.strftime('%b %e')}