- if message.message_template.platform.start_with?('twitter')
  - if !message.statistics.blank?
    .ui.horizontal.segments
      .ui.segment
        .ui.mini.horizontal.statistic
          .value
            = message.statistics['retweets']
          .label
            Retweets
      .ui.segment
        .ui.mini.horizontal.statistic
          .value
            = message.statistics['favorites']
          .label
            Favorites
      .ui.segment
        .ui.mini.horizontal.statistic
          .value
            = message.statistics['mantions']
          .label
            Mentions
      .ui.segment
        .ui.mini.horizontal.statistic
          .value
            = message.statistics['clicks']
          .label
            Clicks
- elsif message.message_template.platform.start_with?('facebook')
  - if !message.statistics.blank?
    .ui.horizontal.segments
      .ui.segment
        .ui.mini.horizontal.statistic
          .value
            = message.statistics['comments']
          .label
            Comments
      .ui.segment
        .ui.mini.horizontal.statistic
          .value
            = message.statistics['likes']
          .label
            Likes
      .ui.segment
        .ui.mini.horizontal.statistic
          .value
            = message.statistics['clicks']
          .label
            Clicks
      .ui.segment
        .ui.mini.horizontal.statistic
          .value
            = message.statistics['shares']
          .label
            Shares
