!!!
%html
  %head
    %title Trial Promoter: #{Rails.env.titlecase}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <script src="semantic/dist/semantic.min.js"></script>
  %body
    .ui.inverted.menu.main
      .header.item
        Trial Promoter: #{Rails.env.titlecase}
      %a.item{ :href => clinical_trials_path }
        Clinical Trials
      %a.item{ :href => message_templates_path }
        Message Templates
      %a.item{ :href => organic_messages_path }
        Organic Messages
      %a.item{ :href => paid_messages_path }
        Paid Messages
      %a.item
        Collected Data
    = yield