!!!
%html
  %head
    %title Trial Promoter: #{Rails.env.titlecase}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <script src="semantic/dist/semantic.min.js"></script>
  %body
    .ui.inverted.pointing.menu
      .header.item
        Trial Promoter: #{Rails.env.titlecase}
      %a.active.item
        Clinical Trials
      %a.item
        Organic Messages
      %a.item
        Paid Messages
      %a.item
        Collected Data
    = yield